
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}
<div class="page-header">
    <div class="breadcrumb-box">
        <div class="container">
            <ul class="breadcrumb">
                <li>
                    <a href="/Home">صفحه اصلی</a>
                </li>
                <li class="active">عنوان صفحه</li>
            </ul>
        </div>
    </div>
</div>
<section style="padding-top: 20px !important;" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="post-image opacity"></div>
                <div class="post-content top-pad-20">
                    <h4 class="FontISB" style="font-size: 20px; color: #414141">چک لیست سقف تیرچه بلوک</h4>
                    <div class="col-sm-8 col-xs-12" style="float: right; background-color: #dcdcdc; padding: 10px 20px; border-radius: 3px;margin-bottom:20px;">
                        <div class="col-xs-12" style="padding-right:0px;padding-left:0px">
                            <i class="fa fa-bookmark pull-right" style="padding-top:5px;"></i>
                            <span class="pull-right" style="font-weight: bold;color:#002147;">خلاصه خبر</span>
                            <p class="pull-left" style="font-size:9px !important;color:#002147;"><span>تاریخ انتشار : <span id="ContentPlaceHolder1_LblDate">1396/4/18</span></span></p>
                        </div>
                        <p>
                            مدت زمان طولانی تعطیلات  هم می تواند زمان خوبی برای استراحت و تفریح باشد و هم می تواند باعث دوری دانش آموزان از فضای مدرسه و درس خواندن باشد.
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12" style="float: left; padding-left: 0px;">
                        <div class="hover14">
                            <figure>
                                <img class="img-responsive" src="~/Content/img/logo kayer.png" alt="تاریخ شروع پایگاه های تابستانی " style="border-radius: 5px; border: 2px solid #e5e5e5; height:154px;">

                            </figure>
                        </div>
                    </div>
                    <div style="text-align: justify; line-height: 30px;">
                        <p>تعطیلات تابستان برای دانش آموزان مانند یک شمشیر دو لبه است. مدت زمان طولانی تعطیلات &nbsp;هم می تواند زمان خوبی برای استراحت و تفریح باشد و هم می تواند باعث دوری دانش آموزان از فضای مدرسه و درس خواندن باشد.</p>
                        <p>مدارس مجتمع فرهنگی آموزشی علامه طباطبایی برای ایجاد تعادل بین تفریح و تحصیل،&nbsp; هر سال اقدام به برگزاری پایگاه تابستانی می کنند. در این دوره ها که 6 هفته به طول می انجامد، دانش آموزان در کنار زنگ های ورزش و تفریح و اردو ساعتهایی را به مطالعه و فراگیری کتاب های درسی می پردازند.</p>
                        <p>در پایگاه تابستانی مدارس علامه طباطبایی علاوه بر تفریح سالم و دسته جمعی در فضای مناسب، به فعالیت های آموزشی و پژوهشی برای تقویت بنیه علمی دانش آموزان پرداخته می&zwnj;شود.</p>
                        <p>تاریخ شروع پایگاه تابستانی دبیرستان های دوره اول و دوم علامه طباطبایی به شرح زیر است:</p>
                    </div>
                </div>

            </div>
        </div>
        <hr>
    </div>
</section>