<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlmaCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=185.141.134.89,1430;Initial Catalog=darstkala;Persist Security Info=True;User ID=dartduset;Password=654dsfWQSA!!" providerName="System.Data.SqlClient" />
    <add name="DapperConnection" connectionString="Data Source=185.141.134.89,1430;Initial Catalog=darstkala;Persist Security Info=True;User ID=dartduset;Password=654dsfWQSA!!" providerName="System.Data.EntityClient" />
    <add name="DB_AlmaCmsEntities" connectionString="metadata=res://*/Models.DBAlmaCMS.csdl|res://*/Models.DBAlmaCMS.ssdl|res://*/Models.DBAlmaCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.141.134.89,1430;initial catalog=darstkala;persist security info=True;user id=dartduset;password=654dsfWQSA!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=darstkala;Persist Security Info=True;User ID=dartduset;Password=654dsfWQSA!!" providerName="System.Data.SqlClient" />
    <add name="DapperConnection" connectionString="Data Source=.;Initial Catalog=darstkala;Persist Security Info=True;User ID=dartduset;Password=654dsfWQSA!!" providerName="System.Data.EntityClient" />
    <add name="DB_AlmaCmsEntities" connectionString="metadata=res://*/Models.DBAlmaCMS.csdl|res://*/Models.DBAlmaCMS.ssdl|res://*/Models.DBAlmaCMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=darstkala;Persist Security Info=True;User ID=dartduset;Password=654dsfWQSA!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <!--Email-->
    <add key="SMTPEmail" value="webmail.parsasantec.com"/>
    <add key="EmailFrom" value="noreply@parsasantec.com"/>
    <add key="EmailUserName" value="noreply@parsasantec.com"/>
    <add key="EmailPass" value="BGT%6yhnBGT%6yhn"/>
    <add key="Port" value="25"/>
    <add key="FormToEmail" value="info@parsasantec.com"/>
    <add key="SMSUser" value="rnewweb"/>
    <add key="SMSPass" value="1063"/>
    <add key="AdminMobile" value="09195305100"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="owin:AppStartup" value="AlmaCMS.Startup,AlmaCMS"/>
    <add key="ExecuteTaskServiceCallSchedulingStatus" value="ON"/>
    <add key="ExecuteTaskScheduleCronExpression" value="0/50 0/1 * 1/1 * ? *"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="52428800" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
<!--        <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <staticContent>
      <mimeMap fileExtension="json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <location path="Manage">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <AlmaCMS.Properties.Settings>
      <setting name="AlmaCMS_ir_smsran_SendSMS" serializeAs="String">
        <value>http://smsran.ir/API/SendSMS.asmx</value>
      </setting>
    </AlmaCMS.Properties.Settings>
  </applicationSettings>
</configuration>