@{
    ViewBag.Title = "تائید ثبت نام";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="main-content">
    <section class="divider parallax layer-overlay overlay-dark-3" data-bg-img="/Content/Images/breadtop.jpg">
        <div class="container pt-40 pb-5">
            <div class="section-content text-center pt-30">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-white text-uppercase font-20 mb-0">تائید ثبت نام</h1>
                        <ol class="breadcrumb white text-center mt-10">
                            <li><a href="/">صفحه اصلی</a></li>
                            <li class="active " style="color:#0CB4CE">تائید ثبت نام</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="register-form">
                        <div class="icon-box mb-0 p-0">
                            <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-right mb-0 ml-10">
                                <i class="pe-7s-users"></i>
                            </a>
                        
                        </div>
                        <hr>
                        <p class="text-gray">
                            ثبت نام با موفقیت انجام شد.
                            <br />
                             لینک فعال سازی به ایمیل شما ارسال شده است.
                            <br />
                            <p>                            کابر گرامی در صورت که ایمیل ارسالی را در Inbox خود مشاهده نکردید لطفا فولدر Spam خود را بررسی نمایید
                                </p>

                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>