@model List<AlmaCMS.Models.Album>
@using AlmaCMS.Helpers;
@{
    ViewBag.Title = "گالری";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="page-title page-title-default title-size-default title-design-centered color-scheme-light" style="background-image: url(/content/site/images/page.jpg); height:250px; width:100%">
    <div class="container">
        <header class="entry-header">
            <h1 class="entry-title"></h1>
        </header>
    </div>
</div><br />
<div class="divider">
    <div class="line red"></div>
    <span class="section">
        <span class="title">گالری</span>
    </span>
    <div class="line red"></div>
</div>


<section class="speak-about-us">
    <div class="container-fluid">
        <div class="divider">
            <span class="section">
                <i class="pusn-trumpet text-red"></i>
                گالری
            </span>
            <div class="line"></div>
        </div>


    </div>
</section>

<br />
<div class="divider">
    <div class="line red"></div>
    <span class="section">
        <span class="title">برای مشاهده هر عکس، بر روی آن کلیک کنید</span>
    </span>
    <div class="line red"></div>
</div>
<br />

<section class="gallery">

    <div class="col-md-12">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-md-4">
                        <a href="/gallery/list/@item.id/@item.Title.toSlugify()" class="gallery-item">
                            <img src="@item.Image">
                            <div class="hover">
                                <i class="pusn-angle-double-left"></i>


                            </div>
                            <p>@item.Title</p>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>






</section>





